:root {
  --bg-primary: #eceff1;
  --gray-color: #a8abac;
  --green-color: #00838f;
  --gray-ligth-color: #b4b4b4;
  --font-medium: 16px;
  --font-small: 14px;
  --primary-color: #ff7549;
  --border-color: rgba(0, 0, 0, 0.12);
  --hover-icon-color: #eceff1;
  --card-shadow: 1px 1px 6px -1px rgba(168, 171, 172, 0.75);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-size: var(--font-medium);
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: initial;
}
