:root {
  --bg-primary: #eceff1;
  --gray-color: #a8abac;
  --gray-ligth-color: #b4b4b4;
  --font-medium: 16px;
  --primary-color: #f8a147;
  --border-color: rgba(0, 0, 0, 0.12);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-size: var(--font-medium);
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: initial;
}
